<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style>
      /* latin */
      @font-face {
          font-family: 'Cambria';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/l/font?kit=GFDqWAB9jnWLT-HIK7ILrphaOAw&skey=d4699178559bc4b0&v=v18) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* latin */
      @font-face {
          font-family: 'Cambria';
          font-style: normal;
          font-weight: 700;
          src: url(https://fonts.gstatic.com/l/font?kit=GFDvWAB9jnWLT-HIIwkuu7V4NSY7WWA&skey=5202a3b6f5388b49&v=v18) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHl2Y_-T6Oo88RDZSQOn9IDlDLo&skey=a3a4b3361b12223a&v=v18) format('woff2');
          unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHl2Y_-T6Oo88RDZSQJn9IDlDLo&skey=a3a4b3361b12223a&v=v18) format('woff2');
          unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
      }

      /* latin-ext */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHl2Y_-T6Oo88RDZSQEn9IDlDLo&skey=a3a4b3361b12223a&v=v18) format('woff2');
          unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 400;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHl2Y_-T6Oo88RDZSQKn9IDlDLo&skey=a3a4b3361b12223a&v=v18) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /* cyrillic */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 700;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHi2Y_-T6Oo88RDZSyxuscqtj_C8ibe&skey=66cb3cbedfd2039d&v=v18) format('woff2');
          unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* greek */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 700;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHi2Y_-T6Oo88RDZSyxuscttj_C8ibe&skey=66cb3cbedfd2039d&v=v18) format('woff2');
          unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
      }

      /* latin-ext */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 700;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHi2Y_-T6Oo88RDZSyxuscgtj_C8ibe&skey=66cb3cbedfd2039d&v=v18) format('woff2');
          unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
          font-family: 'Garamond';
          font-style: normal;
          font-weight: 700;
          src: url(https://fonts.gstatic.com/l/font?kit=XoHi2Y_-T6Oo88RDZSyxuscutj_C8ibe&skey=66cb3cbedfd2039d&v=v18) format('woff2');
          unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @page {
          margin: 0;
          padding: 0.5in;
          size: 8.3in 11.7in;
      }

      body {
          font-family: "Cambria", serif;
          color: #000;
          font-size: 12pt;
      }

      ul {
          padding-left: 20px;
          margin-top: 2pt;
      }

      li {

      }

      a {
          color: #000000;
      }

      a:link {
          text-decoration: none;
      }

      a:visited {
          text-decoration: none;
      }

      a:hover {
          text-decoration: none;
      }

      a:active {
          text-decoration: none;
      }

      .bottom-ruler {
          border-bottom-color: #000000;
          border-bottom-width: 0.8pt;
          padding-bottom: 2pt;
          border-bottom-style: solid;
      }

      .upcase {
          text-transform: uppercase;
      }

      .flex {
          display: flex;
      }

      .flex-grow {
          flex-grow: 1;
      }

      .sb {
          justify-content: space-between;
      }

      .contact-section {
          .name {
              font-size: 24pt;
              font-weight: 700;
              font-family: "Garamond";
          }

          .contact {
              font-size: 16pt;
              font-weight: 400;
              font-family: "Garamond";
          }
      }

      .summary {
          margin-top: 12pt;

          .section-title {
              font-weight: bold;
          }

          .about {
              color: #000000;
              font-weight: 400;
              text-decoration: none;
              vertical-align: baseline;
              font-size: 12pt;
              font-family: "Garamond";
              font-style: normal;
              text-align: justify;
          }

      }

      .work-experience {
          margin-top: 12pt;

          .section-title {
              font-weight: bold;
          }

          .experience {
              margin-top: 12pt;

              .organisation-name, .time-period {
                  font-weight: 700;
                  font-family: "Garamond";
              }

              .achievements {
                  .achievement-item {
                      color: #000000;
                      font-weight: 400;
                      text-decoration: none;
                      vertical-align: baseline;
                      font-size: 12pt;
                      font-family: "Garamond";
                      font-style: normal;
                      text-align: justify;
                  }
              }

              .job-title, .job-location {
                  font-style: italic;
                  font-weight: 400;
                  font-family: "Garamond";
              }
          }
      }

      .education {
          margin-top: 12pt;

          .section-title {
              font-weight: bold;
          }

          .education-item {
              margin-top: 12pt;

              .institute-name, .time-period {
                  font-weight: 700;
                  font-family: "Garamond";
              }

              .qualification, .education-location {
                  font-style: italic;
                  font-weight: 400;
                  font-family: "Garamond";
              }

              .achievements {
                  .achievement-item {
                      color: #000000;
                      font-weight: 400;
                      text-decoration: none;
                      vertical-align: baseline;
                      font-size: 12pt;
                      font-family: "Garamond";
                      font-style: normal;
                      text-align: justify;
                  }
              }
          }
      }

      .generic-section {
          margin-top: 12pt;

          .section-title {
              font-weight: bold;
              margin-bottom: 12pt;
          }

          .item {
              color: #000000;
              font-weight: 400;
              text-decoration: none;
              vertical-align: baseline;
              font-size: 12pt;
              font-family: "Garamond";
          }
      }
  </style>
</head>
<body>
<div class="bottom-ruler contact-section">
  <div class="name bottom-ruler"><%= dig :profile, :name %></div>
  <div class="contact">
    <% if has? :contact, :email %>
      <a href="mailto:<%= dig :contact, :email %>"><%= dig :contact, :email %></a> |
    <% end %>
    <% if has? :contact, :mobile %>
      <a href="tel:<%= dig :contact, :mobile %>"><%= dig :contact, :mobile %></a> |
    <% end %>
    <% if has?(:contact, :location, :city) || has?(:contact, :location, :country) %>
      <%= dig :contact, :location, :city %>, <%= dig :contact, :location, :country %> |
    <% end %>
    <% if has? :contact, :website %>
      <a href="<%= dig :contact, :website %>"><%= dig :contact, :website %></a> |
    <% end %>
    <% if has? :contact, :github %>
      <a href="https://github.com/<%= dig :contact, :github %>">github.com/<%= dig :contact, :github %></a>
    <% end %>
    <% if has? :contact, :linkedin %>
      <a href="https://linkedin.com/in/<%= dig :contact, :linkedin %>">linkedin.com/in/<%= dig :contact, :linkedin %></a>
    <% end %>
  </div>
</div>

<div class="summary">
  <div class="upcase bottom-ruler section-title">Summary</div>
  <div class="about"><%= dig :profile, :about %></div>
</div>

<% if has?(:experiences) %>
  <div class="work-experience">
    <div class="upcase bottom-ruler section-title">Work Experience</div>
    <% dig :experiences do |experience| %>
      <div class="experience">
        <div class="flex flex-grow sb">
          <div class="organisation-name"><%= dig experience, :organisation %></div>
          <div class="time-period">
            <%= "#{dig experience, :from, :month} #{dig experience, :from, :year}" %> -
            <%= has?(experience, :to) ? "#{dig experience, :to, :month} #{dig experience, :to, :year}" : "Present" %>
          </div>
        </div>

        <div class="flex flex-grow sb">
          <div class="job-title"><%= dig experience, :title %></div>
          <div class="job-location">
            <%= "#{dig(experience, :location, :city)}, #{dig(experience, :location, :country)}" %>
          </div>
        </div>

        <% if has? experience, :achievements %>
          <ul class="achievements">
            <% dig(experience, :achievements).each do |achievement| %>
              <li class="achievement-item"><%= achievement %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if has?(:education) %>
  <div class="education">
    <div class="upcase bottom-ruler section-title">Education</div>
    <% dig :education do |education| %>
      <div class="education-item">
        <div class="flex flex-grow sb">
          <div class="institute-name">
            <%= dig education, :institute %>
          </div>
          <div class="time-period">
            <%= has?(education, :from) ? "#{dig education, :from, :month} #{dig education, :from, :year} - " : "" %>
            <%= has?(education, :to) ? "#{dig education, :to, :month} #{dig education, :to, :year}" : "Present" %>
          </div>
        </div>

        <div class="flex flex-grow sb">
          <div class="qualification"><%= dig education, :qualification %></div>
          <div class="education-location">
            <%= dig education, :location, :city %>, <%= dig education, :location, :country %>
          </div>
        </div>
        <% if has?(education, :achievements) %>
          <ul class="achievements">
            <% dig(education, :achievements).each do |achievement| %>
              <li class="achievement-item"><%= achievement %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% generic_sections = [has?(:skills) ? 'Skills' : nil, has?(:interests) ? 'Interests' : nil].compact %>

<% unless generic_sections.empty? %>

  <div class="generic-section">
    <div class="upcase bottom-ruler section-title"><%= generic_sections.join(', ') %></div>
    <ul>
      <% if has?(:skills) %>
        <li class="item">
          <% if generic_sections.length > 1 %>
            <b>Skills: </b>
          <% end %>
          <% skill_list = [] %>
          <% dig :skills do |skill| %>
            <% dig(skill, :items).each { |item| skill_list.push(item) } %>
          <% end %>

          <%= skill_list.join('; ') %>
        </li>
      <% end %>

      <% if has?(:interests) %>
        <li class="item">
          <% if generic_sections.length > 1 %>
            <b>Interests: </b>
          <% end %>
          <%= dig(:interests).join('; ') %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
</body>
</html>
